.search-wrapper .search {
    position: relative;
    height: 35px;
    width: 100%;
    margin-left: 15px;
}

.search-wrapper .search input {
    padding: 7px 10px;
    border: 1px solid #ccc;
    height: 100%;
}

.search-wrapper .search .search-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 33px;
    padding: 0 10px;
    background: #fff;
}


.search-wrapper .search input,
.category select,
.sort select {
    width: 100%;
}
