.sidebar-link {
    display: flex;
    color: #8a93a2;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    font-size: 18px;
    box-shadow: inset 0 0 0 0 8a93a2;
    transition: box-shadow linear .2s;
    font-weight: 300;
    width: 250px;
}

.sidebar-link:hover {
    box-shadow: inset 5px 0 0 0 #8a93a2;
}

.sidebar-label {
    margin-left: 16px
}

.sidebar-item {
    display: flex;
    align-items: center;
}