@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; FONT CŨ NÈ*/
  /* font-family: 'Manrope', sans-serif; */
  /* font-family: 'Lexend', sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
}

.App > .client {
  /* max-width: 1200px; */
  /* min-height: 100vh; */
  /* margin-top: 100px !important; */
  padding: 30px 20px;
  box-shadow: 0 0 35px #eee;
  padding-top: 10px;
}

.App > .admin {
  background: #eee;
}

.container-box {
  padding: 0 50px;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}

/* a:link {
  color: blue;
} */

ul li {
  list-style: none;
}

input {
  outline: none;
}

/* BUTTON */
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.submit__btn {
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 0;
  transition: all 0.5s ease;
  width: 100%;
}

table {
  border-spacing: 0;
}

.address-form {
  display: none;
  width: 400px;
  margin: 15px 0;
}

.address-form.active {
  display: block;
  position: initial;
}

/* file path: src/app/globals.css */

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 10px;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  list-style: none;
}

/* MODAL */
.modal {
  background-color: rgba(0, 0, 0, 0.2);
}

/* QUICK VIEW MODAL */
.product-view-detail-box {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1035;
  width: 100%;
}

/* PAYMENT MODAL */
.payment-method-option-box {
  display: none;
  position: fixed;
  z-index: 103;
  height: 100vh;
}

.payment-method {
  max-height: 93vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.payment-method-option-box .active {
  display: block;
}

/* REVIEW MODAL */
.review-modal {
  display: none;
}

.review-modal .active {
  display: block;
}

/* SPIN LOADING */
.fa-spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* SKELETON LOADING */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(240, 21%, 91%);
  }
  100% {
    background-color: hsl(240, 5%, 96%);
  }
}


@media (max-width: 768px) {
  .margin-header {
    margin-top: 75px
  }
}