.avatar-profile {
  width: 50px;
  height: 50px;
}

.nav-link {
  color: #ccc;
}

/* MAIN CONTENT */
.grid-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 30px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
}

.mg-l-r-15 {
    margin: 0 15px;
}

.content-header {
  background-color: #fff;
  padding: 15px 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: coral 2px solid;
  margin-bottom: 25px;
}

/* TABLE */
thead, tbody, tfoot, tr, td, th {
  padding: 10px 5px;
}
