.footer {
    width: 100%;
    background: #f0f0f0;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.footer .footer-item-header {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #5c5c5c;
    font-size: 20px;
}

.footer .footer-item {
    margin-top: 15px;
}

.footer .footer-logo img {
    max-width: 100%;
}

.footer .footer-logo li {
    display: flex;
    align-items: center;   
    color: #323232;
}

.footer .footer-logo li span{
    margin-left: 5px;
}

.footer .footer-item li {
    padding: 5px 0;
    margin: 5px 0;
}

.footer .footer-item li span{
    margin-left: 5px;
}

.footer .footer-item li a{
    display: flex;
    align-items: center;
    color: #323232;
    transition: color .2s linear;
}

.footer .footer-item li a:hover{
    color: #236084;
}

.footer .copyright {
    margin-top: 40px;
    text-align: center;
    user-select: none;
    color: #236084;
}

.footer .social__media_icon {
    width: 25px;
    height: auto;
    margin-right: 15px ;
}

.footer .payment__method_footer {
    margin-top: 10px;
}