.search__bar_wrapper {
    border-radius: 20px;
    border: 1px solid #d5d2d3;
}

.search__bar_wrapper .search__bar_input{
    font-weight: 300;
    border: none;
    margin-right: 20px;
    padding: 5px 0px;
    font-size: 14px;
}

.search__bar_wrapper .search__input_icon {
    display: flex;
    padding: 0 10px;
    align-items: center;
    width: 50px;
    color: #d93938;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 18px;
}

.search__bar_wrapper .list_item_suggest {
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    border-top: none;
    overflow: hidden;
    overflow-y: auto;
    max-height: 700px;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    color: #1d2129;
    margin: 0;
    transition: all .3s ease-in-out;
    padding: 15px;
    animation: fadeIn .3s ease;
}

.list_item_suggest .item_suggest_result {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.left__item_suggest_result {
    flex: 1;
}

.list_item_suggest .left__item_suggest_result a{
    text-transform: capitalize;
    color: #000;
    font-weight: 300;
}

.list_item_suggest .left__item_suggest_result span {
    display: block;
    font-weight: 300;
    line-height: 3;
}

.list_item_suggest .right__item_suggest_result {
    width: 100px;
}

.list_item_suggest .right__item_suggest_result img{
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}

.list_item_suggest .not__found_msg ,
.list_item_suggest .key_search_msg {
    color: #666666;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.list_item_suggest .key_search_msg {
    padding: 15px;
}

.key_search_msg svg,
.not__found_msg svg {
    margin-right: 15px;
}

.close_search_bar {
    opacity: 1;
    height: 40px;
    display: flex;
    align-items: center;
    width: 55px;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    color: #666666;
}

/* width */
.search__bar_wrapper .list_item_suggest::-webkit-scrollbar {
    width: 7px;
}
  
  /* Track */
.search__bar_wrapper .list_item_suggest::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.search__bar_wrapper .list_item_suggest::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.search__bar_wrapper .list_item_suggest::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@keyframes fadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
} 